{% extends "layout.html" %}

{% block body_content %}
    <h2>Table Data</h2>

    <table>
        <tr>
            <td>Genre(s)</td>
            {% for genre in genres %}
            <td>{{ genre.genre }}</td>
            {% endfor %}
        </tr>
    </table>
    
    {% for film in movies %}
    <div class="movies">
        <h2>{{ film.movie_title }} ( {{ film.year }} )<span>, {{ film.rating }}</span></h2>
        <p>{{ film.genre1 }}{% if film.genre2 != "" %}, {{ film.genre2 }}{% endif %}{% if film.genre3 != "" %}, {{ film.genre3 }}{% endif %}{% if film.genre4 != "" %}, {{ film.genre4 }}{% endif %}{% if film.genre5 != "" %}, {{ film.genre5 }}{% endif %}</p>
    </div>
    {% endfor %}

{% endblock %}